.video-container {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}
.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}
